PORT=5000

# Base64 encoded or stringified JSON from Firebase Service Account key file.
# Example: {"type": "service_account", "project_id": "anonymouschat-61ae0", ...}
FIREBASE_SERVICE_ACCOUNT_JSON=

# Target Firebase Project ID
FIRESTORE_PROJECT_ID=anonymouschat-61ae0
